<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blindhelper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>


    <application android:label="@string/app_name"
        android:icon="@drawable/logo"
        android:theme="@android:style/Theme.Holo.Light">
        <activity android:name=".FirstActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ConfigMenuActivity"/>
        <activity android:name=".ConfigCaneActivity"/>
        <activity android:name=".ConfigTightActivity"/>
        <activity android:name=".SearchActivity"/>
        <activity android:name=".FilesActivity"/>
        <activity android:name=".FileOpenActivity"/>
        <activity android:name=".TrackingActivity"/>
        <activity android:name=".CamConnectActivity"/>
        <activity android:name=".CameraStreamingActivity"/>
        <service android:name=".RecordingService" android:enabled="true"/>

    </application>
</manifest>
